.titleHeader {
	margin-top: 25vh;
	margin-left: 25vw;
	height: 18vh;
	width: 30vw;
}
.titleSub {
	margin-left: 25vw;
	width: 35vw;
}
.hireB {
	margin-left: 25vw;
	display: none;
}
#root > div > div.About > div > a > button {
	margin-top: 15px;
	margin-left: 25vw;
	border-radius: 15px;
}
.myPic {
	margin-top: -30vh;
	margin-left: 100vh;
	width: 300px;
	height: 300px;
	background-image: url("../../images/profile.jpg");

	background-size: cover;
	-webkit-clip-path: polygon(
		50% 0%,
		90% 20%,
		100% 60%,
		75% 100%,
		25% 100%,
		0% 60%,
		10% 20%
	);
	clip-path: polygon(
		50% 0%,
		90% 20%,
		100% 60%,
		75% 100%,
		25% 100%,
		0% 60%,
		10% 20%
	);
}
/* .myName {
	margin-left: 25vw;
	transform: rotateY(40deg);
	animation: two 2s infinite;
	animation-direction: alternate;
	background-color: #831a4a;
}
@keyframes two {
	0% {
		transform: rotateY(0);
	}
	100% {
		transform: rotateY(70deg);
	}
} */
.movingL {
	margin-top: 100px;
	margin-left: 25%;
	position: relative;
}
