.titleHeader {
  margin-top: 25vh;
  margin-left: 25vw;
  height: 18vh;
  width: 30vw;
}
.titleSub {
  margin-left: 25vw;
  width: 35vw;
}
.hireB {
  margin-left: 25vw;
  display: none;
}
#root > div > div.About > div > a > button {
  margin-top: 15px;
  margin-left: 25vw;
  border-radius: 15px;
}
.myPic {
  margin-top: -30vh;
  margin-left: 100vh;
  width: 300px;
  height: 300px;
  background-image: url("../../images/profile.jpg");

  background-size: cover;
  -webkit-clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}

.movingL {
  margin-top: 100px;
  margin-left: 25%;
  position: relative;
}

@media only screen and (max-width: 360px) {
  .quer {
    width: 100px;
    height: 100px;
    background-color: white;
  }
  .titleHeader {
    margin-top: 40vh;
    margin-left: 8vw;
    height: 18vh;
    width: 30vw;
  }
  .titleSub {
    margin-left: 25vw;
    margin-top: 80vh;
    width: 35vw;
  }
  .hireB {
    margin-left: 25vw;
    display: none;
  }
  #root > div > div.About > div > a > button {
    margin-top: 10px;
    margin-left: 30vw;
    border-radius: 15px;
  }
  .myPic {
    margin-top: 2vh;
    margin-left: 6vh;
    width: 300px;
    height: 300px;
    background-image: url("../../images/profile.jpg");

    background-size: cover;
    -webkit-clip-path: polygon(
      50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%
    );
    clip-path: polygon(
      50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%
    );
  }

  .movingL {
    margin-top: 40px;
    margin-left: 3%;
    position: relative;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .quer {
    width: 100px;
    height: 100px;
  }
  .titleHeader {
    margin-top: 5vh;
    margin-left: 25vw;
    height: 18vh;
    width: 30vw;
  }
  .titleSub {
    margin-left: 25vw;
    margin-top: 5vh;
    width: 35vw;
  }
  .hireB {
    margin-left: 25vw;
    display: none;
  }
  #root > div > div.About > div > a > button {
    margin-top: 10px;
    margin-left: 30vw;
    border-radius: 15px;
  }
  .myPic {
    margin-top: 2vh;
    margin-left: 6vh;
    width: 300px;
    height: 300px;
    background-image: url("../../images/profile.jpg");

    background-size: cover;
    -webkit-clip-path: polygon(
      50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%
    );
    clip-path: polygon(
      50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%
    );
  }

  .movingL {
    margin-top: 40px;
    margin-left: 3%;
    position: relative;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .quer {
    width: 100px;
    height: 100px;
  }
  .titleHeader {
    margin-top: 15vh;
    margin-left: 15vw;
    height: 18vh;
    width: 30vw;
  }
  .titleSub {
    margin-left: 15vw;
    margin-top: 5vh;
    width: 35vw;
  }
  .hireB {
    margin-left: 25vw;
    display: none;
  }
  #root > div > div.About > div > a > button {
    margin-top: 1px;
    margin-left: 15vw;
    border-radius: 15px;
  }
  .myPic {
    margin-top: -30vh;
    margin-left: 40vh;
    width: 300px;
    height: 300px;
    background-image: url("../../images/profile.jpg");

    background-size: cover;
    -webkit-clip-path: polygon(
      50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%
    );
    clip-path: polygon(
      50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%
    );
  }

  .movingL {
    margin-top: 100px;
    margin-left: 6%;
    position: relative;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .quer {
    width: 100px;
    height: 100px;
  }
  .titleHeader {
    margin-top: 10vh;
    margin-left: 25vw;
    height: 18vh;
    width: 30vw;
  }
  .titleSub {
    margin-left: 25vw;
    margin-top: 5vh;
    width: 35vw;
  }
  .hireB {
    margin-left: 25vw;
    display: none;
  }
  #root > div > div.About > div > a > button {
    margin-top: 15px;
    margin-left: 25vw;
    border-radius: 15px;
  }
  .myPic {
    margin-top: -30vh;
    margin-left: 61vh;
    width: 300px;
    height: 300px;
    background-image: url("../../images/profile.jpg");

    background-size: cover;
    -webkit-clip-path: polygon(
      50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%
    );
    clip-path: polygon(
      50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%
    );
  }

  .movingL {
    margin-top: 100px;
    margin-left: 15%;
    position: relative;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1000px) {
  .myPic {
    margin-top: -30vh;
    margin-left: 75vh;
    width: 300px;
    height: 300px;
    background-image: url("../../images/profile.jpg");

    background-size: cover;
    -webkit-clip-path: polygon(
      50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%
    );
    clip-path: polygon(
      50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%
    );
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .myPic {
    margin-top: -30vh;
    margin-left: 85vh;
    width: 300px;
    height: 300px;
    background-image: url("../../images/profile.jpg");

    background-size: cover;
    -webkit-clip-path: polygon(
      50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%
    );
    clip-path: polygon(
      50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%
    );
  }
}
@media only screen and (min-width: 1280px) {
  .myPic {
    margin-top: -30vh;
    margin-left: 100vh;
    width: 300px;
    height: 300px;
    background-image: url("../../images/profile.jpg");

    background-size: cover;
    -webkit-clip-path: polygon(
      50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%
    );
    clip-path: polygon(
      50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%
    );
  }
}

@media only screen and (min-width: 1366px) {
  .myPic {
    margin-top: -30vh;
    margin-left: 120vh;
    width: 300px;
    height: 300px;
    background-image: url("../../images/profile.jpg");

    background-size: cover;
    -webkit-clip-path: polygon(
      50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%
    );
    clip-path: polygon(
      50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%
    );
  }
}
@media only screen and (min-width: 1440px) {
  .myPic {
    margin-top: -30vh;
    margin-left: 100vh;
    width: 300px;
    height: 300px;
    background-image: url("../../images/profile.jpg");

    background-size: cover;
    -webkit-clip-path: polygon(
      50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%
    );
    clip-path: polygon(
      50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%
    );
  }
}

@media only screen and (min-width: 1920px) {
  .myPic {
    margin-top: -30vh;
    margin-left: 100vh;
    width: 300px;
    height: 300px;
    background-image: url("../../images/profile.jpg");

    background-size: cover;
    -webkit-clip-path: polygon(
      50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%
    );
    clip-path: polygon(
      50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%
    );
  }
}
