.Projects {
	display: flex;
	margin: auto;
}
.cardContainer {
	width: 100vw;
	height: 100vh;
	display: flex;
	margin: auto;
}

.Cards {
	display: flex;
	margin: auto;
	width: 350px;
	height: 250px;
	/* background-color: aqua; */
	border-radius: 10px;
	box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
	transition: all 0.5s ease;
}
.Cards:hover {
	transform: scale(1.1);
}
.sidePara {
	position: absolute;
	margin-top: 5%;
	margin-left: 5%;
}
.textE {
	/* max-height: 100%; */
	max-width: 100%;
	border-radius: 10px;
}
