.Nav {
	display: flex;
	border-bottom: 1px solid lightgray;
	height: 6vh;
	/* width: 100vw; */

	margin: auto;
}
.leftN {
	display: flex;
	width: 20vw;
	margin-top: 4%;
	margin-left: 4%;
}
.middleN {
	width: 20vw;
}
.rightN {
	display: flex;
	width: 50vw;
	margin-top: 1%;
	margin-left: 1%;
	justify-content: space-around;
}
a {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
@media only screen and (min-width: 600px) {
	.Nav {
		display: flex;
		border-bottom: 1px solid lightgray;
		height: 6vh;
		/* width: 100vw; */

		margin: auto;
	}
	.leftN {
		display: flex;
		width: 20vw;
		margin-top: 4%;
		margin-left: 4%;
	}
	.middleN {
		width: 20vw;
	}
	.rightN {
		display: flex;
		width: 50vw;
		margin-top: 1%;
		margin-left: 1%;
		justify-content: space-around;
	}
	a {
		color: black;
		text-decoration: none;
		cursor: pointer;
	}
}
@media only screen and (max-width: 600px) {
	.Nav {
		display: flex;
		border-bottom: 1px solid lightgray;
		height: 6vh;
		/* width: 100vw; */

		margin: auto;
	}
	.leftN {
		display: flex;
		width: 20vw;
		margin-top: 4%;
		margin-left: 4%;
	}
	.middleN {
		width: 20vw;
	}
	.rightN {
		display: flex;
		width: 50vw;
		margin-top: 1%;
		margin-left: -20%;
		justify-content: space-between;
	}
	a {
		color: black;
		text-decoration: none;
		cursor: pointer;
	}
	#root > div > div.Nav > div.dark-mode-toggle {
		margin-top: 60px;
		margin-left: 150px;
		position: absolute;
	}
	.navItem {
		margin-top: 10px;
		margin-left: 8px;
	}
}
/* @media only screen and (max-width: 768px) {
	.quer {
		width: 100px;
		height: 100px;
		background-color: blue;
	}
	#root > div > div.Nav > div.dark-mode-toggle {
		margin-left: 180px;
		margin-top: 5px;
		position: absolute;
	}
} */
